.public-sans {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body{
    background-color: black;
    color: white;
    font-family: "Public Sans";
}

/* Top of website start */
.heading{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-image: url(images/header-img.png);
    background-blend-mode: darken;
    background-size: cover;
    height: 700px;
}


.taskbar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.taskbar img{
    margin-top: 24px;
    margin-left: 20px;
    width: 200px;
    height: auto;
}

.sign-in{
    font-family: "Public Sans";
    background-color: red;
    color: white;
    font-size: 18px;
    height: 35px;
    width: 75px;
    border-radius: 5px;
    border: 0px;
    margin-top: 24px;
    margin-right: 20px;
}

.front-page{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 26px;
}

.front-page h2{
    font-size: 28px;
    font-weight: 500;
}

.email-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 10px; /* Space between input and button */
    flex-wrap: wrap; /* Optional: allows wrap on smaller screens */
    margin-top: 20px;
}

.email-address-button{
    display: inline-block;
    font-family: "Public Sans";
    background-color: red;
    color: white;
    border: 0px;
    height: 60px;
    width: 200px;
}

.email-input{
    display: inline-block;
    border-radius: 0px;
    border: 1px grey;
    box-sizing: border-box;
    box-shadow: none;
    height: 60px;
    width: 400px;
}
/* Top of website end */


/* Bottom of website start */
.information{
    border-top: 6px solid rgb(43, 43, 43);
}

.banner1{
    padding: 3%;
    height: 335px;
}

.banner2{
    padding: 3%;
    border-top: 6px solid rgb(43, 43, 43);
    text-align: right;
    height: 335px;
}

.banner3{
    padding: 3%;
    border-top: 6px solid rgb(43, 43, 43);
    height: 335px;
}

.f-a-q{
    border-top: 6px solid rgb(43, 43, 43);
    text-align: center; 
}

.f-a-q ul{
    list-style-type: none;
    padding: 0; /* Removes left padding */
    margin: 0 auto; /* Centers the list */
    display: inline-block; /* Helps with centering */
}
/* Bottom of website end */